name: checkout-workfile
on:
  pull_request:
    branches:
      - main
    #paths:
     # .github/workflows/**

env:
  MY_ENV_VAR: ${{github.GITHUB_WORKSPACE}}
  
jobs:
  checkout-job:
    name: checkout-job-name
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: git status
      - run: git branch
      - run: echo ${{github.event.pull_request.head.ref}}
      - run: |
          temp = ${{ github.event.pull_request.head.sha }}
          echo ${temp:0:7}
      - run: echo "lin"
      - run: echo "${{env.MY_ENV_VAR}}"
      - run: ls -a
      - run: git rev-parse --short HEAD
      - run: git version
      - run: echo "$GITHUB_SHA"
      - run: echo "$GITHUB_HEAD_REF"
      - run: echo ${{ github.sha }}
      - run: git log
