name: Hello, World!
on: 
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      tagName:
        description: name of tag
        required: true
        default: 'latest'
      test_input:
        description: input test
        required: true
        type: boolean
      runner_os:
        description: 'operating sysyem of the runner'     
        required: true
        default: 'ubuntu-20.04'
        type: choice
        options:
        - ubuntu-20.04
        - windows-2019

jobs:
  build:
    name: Greeting
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, World! in branch which is not default branch!"
      - run: echo ${{ github.event.inputs.test_input }}
      - run: echo "${{github.ref}}"
      - name: set tag name
        id: set_tag_name
        uses: actions/github-script@v3
        with:
          script: |
            let tagName='latest';
            let inputs=context.payload.inputs || {};
            
            if(inputs.tagName) {
              tagName=inputs.tagName;
            }
            core.setOutput('tagName',tagName)
      - run: echo "${{ steps.set_tag_name.outputs.tagName }}"
