name: Hello, World!
on: workflow_dispatch

jobs:
  build:
    name: Greeting
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, World! in default branch."
      - run: echo "${{github.ref}}"
