name: triggerred
on:
  workflow_run: 
    workflows: [Trigge]
    branches:
      - main
    types:
      - completed
jobs:
  triggered-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "triggerred flow"
