name: triggerred
on:
  workflow_run: 
    workflows: [Trigger]
    #branches:
    #  - main
    #types:
    #  - completed
      
      #- requested
jobs:
  triggered-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "triggerred flow"
