name: Trigger
on:
  push:
    branches:
      - main
jobs:
  tirgger-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "trigger flow"
      - run: echo "branch"
        if: github.ref == 'refs/heads/main'
